/* all map containers must be full height */
html,
body,
.map,
.row {
    height: 100%;
}

/* Show the header in large font */
header {
    font-size: large;
    margin-left: 10px;
}

/* Show status text in green if the place is open */
.status-open {
    color: green;
}

/* Show status text in red if the place is closed */
.status-closed,
#error {
    color: red;
}

#map-canvas {
    height: 100%;
}

.places-list {
    padding: 10px 0 10px 10px;
    list-style: none;
}

.place-item {
    padding-bottom: 5px;
}
.search-query {
    margin-left: 10px;
}

@media screen and (max-width: 480px) {
    .place-item {
        padding-bottom: 0;
    }
}